

header {
  display: flex;
  flex-direction: row;
  background-color: #1A120B;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.warmups {
  background-color: white;
}
.reactSection {
  background-color: #D5CEA3;
  padding-left: 6em;
}
.cssSection {
  background-color: white;
  padding-left: 12em;
}

a {
  color: #0081C9;
}

h1, h2 {
  color: #54B435;
}

p {
  color: #3C2A21;
}